.login-page {
    border-radius: 5px;
    /* background-color: rgb(98, 166, 98); */
    display: flex;
    background-color: #fff;
}

.login-page-container {
    height: 100vh;
}

.login-page-container .content-wrapper {
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.login-page-container.left {
    background-image: url(../../images/login_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 60%;
}

.login-page-container.right {
    width: 40%;
}

.login-page h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
}

.login-form {
    display: flex;
    flex-direction: column;
    /* background-color: lightgreen; */
    width: 60%;
    padding: 5px;
    padding-bottom: 15px;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    /* background-color: lightgreen; */
    width: 60%;
    padding: 5px;
    padding-bottom: 15px;
    align-items: center;
}

.login-form-container .form-input {
    padding: 15px;
    margin: 12px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;

}

.login-page .form-button {
    width: 100%;
    padding: 10px;
    margin: 25px 0;
}

.form-button:hover {
    cursor: pointer;
}

.login-button {
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 1.1rem;
    margin: 10px 0;
    width: 300px;
    padding: 15px 10px;
}

.login-button:hover {
    cursor:pointer;
    background-color: #cacaca;
}